
img {
  height: 300px;
  width: 300px;

}

#score_keeper {
    color: rgb(255, 0, 221);

}

.current-player-card {
  border:1px solid;
  width: 25%;

}
.scoreboard {
  font-size: 2em;
  color: grey;
  width: 100%;
}

.score-section {
  color: red;
}

.cat score-section {
  align: right;
}

.dog score-section {
  align: left;
}

.pet-pic {
    list-style-type: none;
}
  
